@import "tailwindcss";


:root {
  --background: #FAF9F5;
  --foreground: #000000;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-cream-100: #FAF9F5;
  --color-cream-200: #F2EEE1;
  --color-cream-300: #EAE3CC;
  --color-cream-400: #BBB49B;

  --color-red-500: #FF723D;

  --color-green-100: #F6FECD;
  --color-green-500: #AD9332;
  --color-green-600: #91834E;

  --color-gray-200: #B4B4AC;
  --color-gray-300: #979B96;
  --color-gray-500: #616B63;
  --color-gray-600: #4D554F;
  --color-gray-700: #383E3A;
  --color-gray-900: #141414;
}

@layer base {
  html {
    @apply antialiased text-gray-900;
  }
  h1 {
    @apply text-[2.5rem] leading-none font-normal text-gray-900;
  }
  h2 {
    @apply text-[2.25rem]/10 font-normal;
  }
  h3 {
    @apply text-[1.9rem]/[36px] md:text-[2rem]/10 font-normal;
  }
  h4 {
    @apply text-[1.8rem]/[36px] font-normal;
  }
  p, label {
    @apply text-base/5 md:text-[0.9rem]/5;
  }
  a {
    @apply text-blue-600;
  }
  section {
    @apply w-full max-w-7xl mx-auto px-5 py-20 md:py-40;
  }
}
